<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Amount:</mat-label>
      <input matInput formControlName="amount" type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Reason:</mat-label>
      <input matInput formControlName="reason">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-select [(value)]="selectedAccount" (selectionChange)="selectionChanged()">
      <mat-option *ngFor="let account of accounts" [value]="account">{{account.name}}</mat-option>
    </mat-select>
    <mat-select [(value)]="selectedDebtor">
      <mat-option *ngFor="let debtor of debtors" [value]="debtor">{{debtor.name}}</mat-option>
    </mat-select>
    <button mat-raised-button type="submit" color="primary" [disabled]="formGroup.invalid">Submit</button>
  </form>
</mat-card>
